rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function signedIn() {
      return request.auth != null;
    }

    function myEmail() {
      return request.auth.token.email;
    }

    function isAdmin() {
      return signedIn()
        && exists(/databases/$(database)/documents/users/$(myEmail()))
        && get(/databases/$(database)/documents/users/$(myEmail())).data.role == "admin";
    }

    match /users/{email} {
      allow read: if signedIn();
      allow create: if signedIn() && myEmail() == email;
      allow update: if isAdmin()
          || (signedIn() && myEmail() == email
          && request.resource.data.role == resource.data.role);
      allow delete: if isAdmin();
    }

    match /{document=**} {
      allow read: if signedIn();
      allow write: if isAdmin();
    }
  }
}
