rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function signedIn() {
      return request.auth != null;
    }

    function myEmail() {
      return request.auth.token.email;
    }

    function isAdmin() {
      return signedIn()
        && exists(/databases/$(database)/documents/users/$(myEmail()))
        && get(/databases/$(database)/documents/users/$(myEmail())).data.role == "admin";
    }

    match /users/{email} {
      allow read: if signedIn();
      allow create: if signedIn() && myEmail() == email;
      allow update: if isAdmin()
          || (signedIn() && myEmail() == email
          && request.resource.data.role == resource.data.role);
      allow delete: if isAdmin();
    }

    match /appointments/{id} {
  allow read: if signedIn();

  // Crear: cualquier usuario logueado puede crear una solicitud
  allow create: if signedIn()
    && request.resource.data.userEmail == myEmail()
    && request.resource.data.status == "pending";

  // Update: solo el programador asignado o admin puede aprobar/rechazar
  allow update: if isAdmin()
    || (signedIn()
        && request.resource.data.programmerId == resource.data.programmerId
        && resource.data.programmerId == myEmail());

  // Delete: solo admin
  allow delete: if isAdmin();
}

    match /{document=**} {
      allow read: if signedIn();
      allow write: if isAdmin();
    }

   match /projects/{id} {
  allow read: if signedIn();
  allow create, update: if isAdmin() || (signedIn() && request.resource.data.ownerEmail == myEmail());
  allow delete: if isAdmin();
}
  }
}
