.clip-hex {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.nav-link {
  position: relative;
  font-size: 15px;
  font-weight: 500;
  color: #0f172a;
  transition: 0.3s;
  padding-bottom: 8px;
}

.nav-link::before {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 50%;
  width: 0%;
  height: 2px;
  background: linear-gradient(90deg, #4f46e5, #2563eb);
  transition: 0.3s;
  transform: translateX(-50%);
}

.nav-link:hover {
  color: #4f46e5;
}

.nav-link:hover::before,
.nav-link.active::before {
  width: 100%;
}

.nav-link.active {
  color: #4f46e5;
  font-weight: 600;
}
