<!-- Loading -->
<div *ngIf="loading" class="loading-wrapper">
  <div class="spinner"></div>
  <p>Cargando autenticación...</p>
</div>

<!-- notificaiones -->
<div class="notification" *ngIf="notification.visible" [ngClass]="notification.type">
  {{ notification.message }}
</div>

<!-- Contenido -->
<div *ngIf="!loading" class="schedule-wrapper">

  <div class="schedule-card">

    <h2 class="title">Agendar Asesoría</h2>

    <form #f="ngForm" (ngSubmit)="submit()">

      <!-- Programador -->
      <div class="form-group">
        <label>Seleccionar Programador</label>
        <select [(ngModel)]="selectedProgrammer" name="programmer" required #progCtrl="ngModel"
  [class.is-invalid]="progCtrl.invalid && progCtrl.touched">
          <option value="">-- Seleccionar --</option>
         <option *ngFor="let p of programmers" [value]="p.email">
  {{ p.fullName }} — {{ getLabel(p) }}
</option>

        </select>
        <small class="error" *ngIf="progCtrl.invalid && progCtrl.touched">Selecciona un programador</small>


      </div>

      <!-- Fecha -->
      <div class="form-group">
        <label>Fecha</label>
       <input type="date" [(ngModel)]="date" name="date" [min]="minDate" required />
      </div>

      <!-- Hora -->
      <div class="form-group">
        <label>Hora</label>
        <input type="time" [(ngModel)]="time" name="time" required />
      </div>

      <!-- Comentario -->
      <div class="form-group">
        <label>Comentario (opcional)</label>
        <textarea [(ngModel)]="comment" name="comment" placeholder="Escribe un comentario opcional..."></textarea>
      </div>

      <!-- Botón -->
      <div class="form-actions">
       <button type="submit" [disabled]="submitting || !selectedProgrammer || !date || !time">
  {{ submitting ? 'Enviando...' : 'Enviar solicitud' }}
</button>
      </div>

    </form>

    <div class="nav-actions">
      <button class="btn-secondary" routerLink="/">Volver</button>
    </div>

  </div>

</div>
