.upload-container{
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
}

.preview img,
.preview video{
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
}